<%- include ../layouts/header.ejs %>
<div class="page-data">
    <form method="post" action="/condominio/add">
        <table cellpadding="11">
            <tr>
                <td class="label">Nome</td>
                <td><input type="text" name="nome" required /></td>
            </tr>
            <tr>
                <td class="label">Habitantes</td>
                <td><input type="number" name="habitantes" required></textarea></td>
            </tr>
            <tr>
                <td class="label">Email</td>
                <td><input type="text" name="email" required /></td>
            </tr>
            <tr>
                <td class="label"></td>
                <td>
                    <button type="submit">Salvar</button>
                    <button type="button" onClick="cancelAdd()">Cancelar</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<%- include ../layouts/footer.ejs %>